asgiref==3.8.1
Django==5.0.4
django-auto-logout==0.5.1
django-classy-tags==4.1.0
django-cms==4.1.1
django-cors-headers==4.3.1
django-formtools==2.5.1
django-livereload-server==0.5.1
django-sekizai==4.1.0
django-treebeard==4.7.1
djangocms-admin-style==3.3.1
packaging==24.0
pillow==10.3.0
setuptools==69.5.1
sqlparse==0.5.0
tornado==6.4
tzdata==2024.1
starlette
# psycopg2==2.9.9
psycopg2-binary==2.9.9
