{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/style.css"/> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="jsscript.js"></script>
    <title>IT компания</title>
</head>
<body>
  <div class="container">
    <!--Строка меню-->
    <div class="Menu">
        <div class="DataContainer">
            <div class="MenuLeft">
                <div class="LogoTxt">IT решения для вашего бизнеса</div>
            </div>
            <div class="MenuCenter">
                <p class="LogoTxt">
                    {% include "menu.html" %}
                    <!-- О нас | Услуги | Готовые решения | Контакты -->
                </p>
            </div>
            <div class="MenuRight">
                <div class="FormFields">
                    <form>
                        <input class="BtnLogIn" type="button" name="BtnLogIn" value="Регистрация">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Заголовок формы-->
    <div class="Title">
        <div class="DataContainer">
            <p class="TitleTxt"> IT решения для автоматизации вашего бизнеса </p>
        </div>
    </div>
    <!--Основные данные-->
    <div class="Main">
        <div class="DataContainer"></div>
    </div>
    <!--Подвал-->
    <div class="Footer">
        <div class="DataContainer">
            <img class="ImgFooter" src="{% static 'img/Footer.png' %}" alt="logo">
        </div>
    </div>
</div>
</body>
</html>
