{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/style.css"/> -->
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"/> -->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}" >
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- <script src="jsscript.js"></script> -->
    <script src="{% static 'js/jsscript.js' %}"></script>
    <title>IT компания</title>
</head>
<body>
  <div class="container">
    <!--Строка меню-->
    <div class="Menu">
        <div class="DataContainer">
            <div class="MenuLeft">
                <div class="LogoTxt"><a href="/index/" title="IT решения для вашего бизнеса">IT решения для вашего бизнеса</a></div>
            </div>
            <div class="MenuCenter">
                <p class="LogoTxt">
                    {% include "menu.html" %}
                    <!-- О нас | Услуги | Готовые решения | Контакты -->
                </p>
            </div>
            <div class="MenuRight">
                <!-- <div class="FormFields">
                    <form>
                        <input class="BtnLogIn" type="button" name="BtnLogIn" value="Регистрация">
                    </form>
                </div> -->
                <h3>{{ user.username|default:'Guest' }}</h3>
                <div>
                  {% if user.is_authenticated %}
                      <a href="{% url 'logout' %}">Выйти</a>
                      <!-- <form action="{% url 'logout' %}">
                        <input type="submit" value="Go to Google" />
                      </form> -->
                
                  {% else %}
                      <a href="{% url 'signup' %}">Регистрация</a>
                      <a href="{% url 'login' %}">Войти</a>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>